@media (max-width: 71em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 55em) {
  html {
    font-size: 35%;
  }
}
@media (max-width: 34em) {
  html {
    font-size: 40%;
  }
  .header {
    display: flex;
    flex-direction: column;
  }
  .caixinha-parabens {
    order: -1;
    padding-bottom: 1rem;
  }
  .presentinho {
    display: none;
  }
  .urso1 {
    align-self: center;
  }

  .menu {
    justify-content: center;
    gap: 8rem;
  }
  .paginamenu {
    width: 45rem;
    height: 60rem;
  }
  .tab {
    gap: 1rem;
  }
  .btnp2 {
    padding: 0.5rem 1rem;
  }
  .conteudo-active {
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }
  .textconteudo {
    text-align: center;
  }
  .piclogos {
    width: 15rem;
    height: 12.7rem;
  }
  .a-gente {
    width: 45rem;
  }

  .oquegostamos {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .gostamos {
    grid-template-columns: 1fr 1fr;
    width: 45rem;
  }
  .momentos {
    text-align: center;
  }

  .fotos {
    display: flex;
    align-items: center;
  }
  .fotosposicao {
    flex-direction: column;
    align-items: center;
  }
  .fotostitulo {
    width: auto;
    font-size: 4.4rem;
  }
  .elefantinho {
    align-self: center;
  }

  .passarinhos {
    display: none;
  }
  .future {
    background-image: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.75),
        rgba(255, 255, 255, 0.75)
      ),
      url(images/chicken-g9e58758d1_1280.png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .textloveis {
    font-weight: 600;
  }
}
