@media (max-width: 71em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 55em) {
  html {
    font-size: 35%;
  }
}
@media (max-width: 34em) {
  html {
    font-size: 40%;
  }
  .header {
    display: flex;
    flex-direction: column;
  }
  .caixinha-parabens {
    order: -1;
    padding-bottom: 1rem;
  }
  .presentinho {
    display: none;
  }
  .urso1 {
    align-self: center;
  }
  .paginamenu {
    width: 40rem;
    height: 80rem;
  }
  .tab {
    gap: 0.1rem;
  }
  .conteudo-active {
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }
  .textconteudo {
    text-align: center;
  }
  .a-gente {
    width: 45rem;
  }

  .gostamos {
    grid-template-columns: 1fr 1fr;
  }
}
